
a {
    text-decoration: none;
    color: black;
}

.leiloes-title {
    margin-bottom: 2rem;
    padding-bottom: .5rem;
    border-bottom: 1px solid grey;
}

.leilao-container {
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
    padding: .4rem;
    background-color: #d4e1ff;
    border-radius: .2rem;
}

.leilao-container:hover {
    outline: 2px solid var(--main-color);
}

.leilao-desc {
    display: block;
}

.image-wrapper {
    height: 12rem;
    width: 12rem;
    flex-grow: 0;
    flex-shrink: 0;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: .2rem;
}

.text-wrapper {
    height: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.leilao-title {
    font-size: 2rem;
}

.leilao-org {
    font-size: 1.5rem;
}

.leilao-org-desc {
    font-size: .8rem;
}

@media (max-width: 56.25rem) {
   .leilao-org {
        font-size: 1rem;
   }
}

@media (max-width: 43.75rem) {
    .leilao-container {
        flex-direction: column;
    }

    .image-wrapper {
        height: 10rem;
        width: auto;
        flex-grow: 1;
        flex-shrink: 1;
    }
}

@media (max-width: 25rem) {
    .image-wrapper {
        height: 5rem;
    }

    .leilao-title {
        font-size: 1.2rem;
    }

    .leilao-desc {
        display: none;
    }

    .text-wrapper {
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}