header {
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--window);
}

.logo-wrapper {
    height: 4rem;
    width: 4rem;
    padding: .2rem;
    transition: .2s;
}

.logo-wrapper:hover {
    padding: 0;
    height: 4.2rem;
    width: 4.2rem;
}

.logo-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.navbar-wide{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    gap: 1rem;
}

.navbar-wide > li > a{
    color: white;
    background: var(--main-color);
    padding: .5rem 1rem;
    border-radius: .3rem;
    font-size: 1rem;
    text-decoration: none;
    border-bottom: 0.15rem solid transparent;
    transition: 0.5s;
}

.navbar-wide > li > a:hover{
    color: var(--main-color);
    outline: 0.1rem solid var(--main-color);
    background: white;
}

.navbar-dropdown {
    display: none;
    flex-direction: column;
    list-style: none;
    gap: .5rem;
    margin-bottom: 1rem;
}

.navbar-dropdown-a {
    color: white;
    padding: 1rem;
    cursor: pointer;
    background: var(--main-color);
    text-align: center;
    text-decoration: none;
}

.navbar-dropdown-a:hover {
    color: var(--main-color);
    outline: 0.1rem solid var(--main-color);
    background: white;
}

button {
    border: none;
    background: none;
}

.menu-wrapper {
    width: 3rem;
    height: 3rem;
    display: none;
    cursor: pointer;
}

.menu-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@media (max-width: 61rem) {

    .menu-click {
        display: flex;
    }

    .menu-wrapper {
        display: block;
    }

    .navbar-wide{
        display: none;
    }
}