<html lang="pt-br">
<head>
    <link href="{{ url_for('static', filename='styles/404.css')}}" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página não Encontrada 404</title>
</head>

<body>
    <img src="{{    url_for('static', filename='images/torcida-mancha-azul.png') }}" class="img-mancha esq-cima">
    <img src="{{    url_for('static', filename='images/torcida-mancha-azul.png') }}" class="img-mancha esq-baixo">
    <img src="{{    url_for('static', filename='images/torcida-mancha-azul.png') }}" class="img-mancha dir-cima">
    <img src="{{    url_for('static', filename='images/torcida-mancha-azul.png') }}" class="img-mancha dir-baixo">
    
    <div class="container">
        <h1>404</h1>
        <h2>Página não Encontrada</h2>
        <a class="button" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Voltar para a página inicial</a>
    </div>
</body>
</html>

