{% extends "base.html" %}

{% block body %}

<div class="container">
    <h1>{{ auction.titulo }}</h1>
    <div class="content">
        <div>
            {% if auction.status == 'open' %}
                <div class="bid-window">
                    <p>Lance Atual</p>
                    <p>R$ {{ auction.lance_atual }}</p>
                    <p>Feito por: {{host.name}}</p>
                </div>
                <p>Tempo restante: {{auction.time_left}}</p>
            {% elif auction.status == 'ended' %}
                <div class="bid-window">
                    <p>Arrematado!</p>
                    <p>R$ {{ auction.lance_atual }}</p>
                    <p>Feito por: {{host.name}}</p>
                </div>
                <p>Leilão finalizado!</p>
            {% else %}
                <div class="bid-window">
                    <p>Leilão cancelado</p>
                </div>
            {% endif %}
            
            {% if auction.status == 'open' and host != current_user %}
                {{ form_novo_lance.lance.label(class="sr-only") }}
                {{ form_novo_lance.lance(placeholder="Lance", class="form-control") }}
                {{ form_novo_lance.botao_submit_fazer_lance(class="btn btn-primary") }}
            {% elif auction.status == 'open' and host == current_user %}
                {{ form_cancela_leilao.botao_cancelar(class="btn btn-danger") }}
            {% endif %}
        </div>
        <div>
            <img src="">
            <p>{{ auction.descricao }}</p>
            <h4>{{auction.organizacao}}</h4>
            <p>Organizacao favorecida</p>
        </div>
    </div>


</div>

{% endblock %}
