<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leilão Solidário</title>
    <link href="{{ url_for('static', filename='styles/main.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='styles/navbar.css') }}" rel="stylesheet">
    {% block head %}
    {% endblock %}

</head>
<body>
    <header>
        <a href="{{ url_for('home.home') }}" class="logo-wrapper">
            <!-- {{ url_for('static', filename='images/home_image.jpg') }} -->
            <img src="{{ url_for('static', filename='images/logo_leilao.png') }}" class="logo-image" alt="Logo">
        </a>
        <nav>
            {% if current_user.is_authenticated %}
                <ul>
                    <li>
                        <a href="">Leilões</a>
                    </li>
                    <li>
                        <a href="">Meus leilões</a>
                    </li>
                    <li>
                        <a href="">Perfil</a>
                    </li>
                </ul>
            {% else %}
                <ul>
                    <li>
                        <a href="{{ url_for('home.login')}}">Login</a>
                    </li>
                    <li>
                        <a href="{{ url_for('home.register')}}">Criar Conta</a>
                    </li>
                </ul>
            {% endif %}
        </nav>
    </header>
    {% with mensagens = get_flashed_messages(with_categories=True) %}
        {% if mensagens %}
            {% for categoria, mensagem in mensagens %}
                <div class="alert {{ categoria }}">
                    {{ mensagem }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    {% block body %}{% endblock %}

    {% block scripts %}{% endblock %}


</body>
</html>
