{% extends "base.html" %}

{% block head %}
<link href="{{ url_for('static', filename='styles/home.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="main-wrapper">
    <main class="container">
        <div class="section-container">
            <img src="{{ url_for('static', filename='images/home_image.jpg') }}" class="image-container">
        </div>
        <div class="section-container text-container">
            <div>
                <p>
                    O Leilão Solidário é uma plataforma sem fins lucrativos
                    que busca providenciar caminhos para ajudar instituições
                    que precisam.
                </p>
                <p>
                    Todo dinheiro dos leilões será enviado a essas instituições.
                </p>
                <p>
                    Então venha participar, leiloando itens ou
                    participando em leilões de terceiros!
                </p>
            </div>
            {% if not current_user.is_authenticated %}
                <div class="action-container">
                    <div>
                        <h1>Faça parte!</h1>
                        <a class="action-a" href="{{ url_for('home.login')}}">Entre</a>
                    </div>
                    <div>
                        <h1>Já é membro?</h1>
                        <a class="action-a" href="{{ url_for('home.register')}}">Cadastre-se</a>
                    </div>
                </div>
            {% endif %}
        </div>
    </main>
</div>
{% endblock %}
