{% extends "base.html" %}

{% block body %}
<div class="container">
    <div class="text-center mt-2">
        <h1 class="text-blue">Bem-vindo ao Leilão Solidário!</h1>
        <p class="lead">Aqui você poderá anunciar seus produtos!</p>
    </div>
    <br>
</div>
<br>
<br>
<br>
<!-- Seção de Contatos -->
<div class="container text-center mt-5 mb-5">
    <h3 class="text-blue">Contato</h3>
    <p>
        Precisa de ajuda ou tem alguma dúvida? Entre em contato conosco e tereremos o prazer de ajudar.
        <br>
        <strong>contato@leilao_solidario.com.br</strong>
    </p>
</div>
{% endblock %}
