{% extends "meusleiloes.html" %}

{% block selected %}Leilões ativos{% endblock %}

{% block indices %}
<div class="indices">
    <a href="{{ url_for('meusleiloes.leiloes_ativos') }}" class="ind-atual">Leilões ativos</a>
    <a href="{{ url_for('meusleiloes.leiloes_finalizados') }}" class="ind">Leilões finalizados</a>
    <a href="{{ url_for('meusleiloes.meusleiloes_ativos') }}" class="ind">Meus leilões ativos</a>
    <a href="{{ url_for('meusleiloes.meusleiloes_finalizados') }}" class="ind">Meus leilões finalizados</a>
</div>
{% endblock %}

{% block grid %}
{% if not leiloes %}
<p class="sem-leiloes">Nenhum leilão ativo encontrado</p>
{% endif %}
<div class='leiloes-container'>
    {% for leilao in leiloes %}
        <a href="{{ url_for('auction.auction', auction_id=leilao.id) }}" class="leiloes-item">
            <img src="{{ leilao.imagem }}" alt="{{ leilao.titulo }}" class="leilao-img">
            <p class='leilao-titulo'>{{ leilao.titulo }}</p>
        </a>
    {% endfor %}
</div>
{% endblock %}