{% extends "meusleiloes.html" %}

{% block selected %}Leilões que participo{% endblock %}

{% block indices %}
<div class="indices">
    <a href="/meusleiloes/leiloes-que-participo" class="ind-atual">Leilões que participo</a>
    <a href="/meusleiloes/leiloes-ativos" class="ind">Meus leilões ativos</a>
    <a href="/meusleiloes/leiloes-finalizados" class="ind">Meus leilões finalizados</a>
</div>
{% endblock %}

{% block grid %}
<div class='leiloes-container'>
    {% for leilao in leiloes %}
        <a href="{{ url_for('auction.auction', auction_id=leilao.id) }}" class="leiloes-item">
            <img src="{{ leilao.imagem }}" alt="{{ leilao.titulo }}" class="leilao-img">
            <p class='leilao-titulo'>{{ leilao.titulo }}</p>
        </a>
    {% endfor %}
</div>
{% endblock %}