{% extends "base.html" %}

{% block head %}
<link href="{{ url_for('static', filename='styles/leiloes.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="wrapper-doc">
    <div>
        <h1 class="leiloes-title">Lista de Leilões</h1>
    </div>
    <div class="leiloes-container">
        {% for leilao in leiloes %}
            <a href="{{ url_for('auction.auction', auction_id=leilao.id) }}" class="leilao-container">
                <div class="image-wrapper">
                    <img src="{{ leilao.imagem }}" alt="{{ leilao.titulo }}" class="image">
                </div>
                <div  class="text-wrapper">
                    <div>
                        <h2 class="leilao-title"><strong>{{ leilao.titulo }}</strong></h2>
                        <p>{{ leilao.descricao }}</p>
                    </div>
                    <div>
                        <p class="leilao-org">{{ leilao.organizacao }}</p>
                        <p class="leilao-org-desc">Organização favorecida</p>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
</div>
{% endblock %}
