{% extends "base.html" %}

{% block body %}
<div class="container">
    <div class="text-center">
        <h2 class="text-primary">Lista de Leilões</h2>
    </div>
    <div class="row">
        {% for leilao in leiloes %}
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">{{ leilao.titulo }}</h5>
                    <p class="card-text">{{ leilao.descricao }}</p>
                    <p class="card-text"><strong>Organização:</strong> {{ leilao.organizacao }}</p>
                    <p class="card-text"><strong>Lance Atual:</strong> {{ leilao.lance_atual }}</p>
                    <p class="card-text"><strong>Último Lance por Usuário ID:</strong> {{ leilao.ultimo }}</p>
                    <p class="card-text"><strong>Host por Usuário ID:</strong> {{ leilao.host }}</p>
                    <p class="card-text"><strong>Status:</strong> {{ leilao.status }}</p>
                    <p class="card-text"><strong>Hora do Último Lance:</strong> {{ leilao.hora_ultimo }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
