{% extends "base.html" %}

{% block head %}
<link href="{{ url_for('static', filename='styles/leiloes.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="container">
    <div class="text-center">
        <h2 class="text-primary">Lista de Leilões</h2>
    </div>
    <div class="row">
        {% for leilao in leiloes %}
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title"><strong>{{ leilao.titulo }}</strong></h2>
                    <p class="card-text">{{ leilao.descricao }}</p>
                    <p class="card-text"><strong>Organização beneficiária:</strong> {{ leilao.organizacao }}</p>
                    <p class="card-text"><strong>Dono do leilão:</strong> {{ leilao.host }}</p>
                    <p class="card-text"><strong>Status:</strong> {{ leilao.status }}</p>
                    <p class="card-text"><strong>Lance atual:</strong> {{ leilao.lance_atual }}</p>
                    <p class="card-text"><strong>Feito por:</strong> {{ leilao.ultimo }}</p>
                    <p class="card-text"><strong>Último lance:</strong> {{ leilao.hora_ultimo }}</p>
                    <a href="{{ url_for('auction.auction', auction_id=leilao.id) }}" class="btn btn-primary">Ver Detalhes</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card-image">
                <img src="{{ leilao.imagem }}" alt="{{ leilao.titulo }}">
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
