{% extends "base.html" %}

{% block body %}
<div class="container">
    <div class="text-center">
        <h2 class="text-primary">Entre ou cadastre-se</h2>
    </div>
    <hr>
    <div class="row">
        <div class="col">
            <form method="POST" action="" class="border p-4 mt-5 m-5">
                {{ form_login.csrf_token }}
                <Legend>Login</Legend>
                <fieldset>
                    <div class="form-group">
                        {{ form_login.email.label(class="form-control-label") }}
                        {% if form_login.email.errors %}
                            {{ form_login.email(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                        {% for erro in form_login.email.errors %}
                                {{ erro }}
                            {% endfor %}
                        </div>
                        {% else %}
                            {{ form_login.email(class="form-control") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form_login.senha.label(class="form-control-label") }}
                        {% if form_login.senha.errors %}
                            {{ form_login.senha(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                        {% for erro in form_login.senha.errors %}
                                {{ erro }}
                            {% endfor %}
                        </div>
                        {% else %}
                            {{ form_login.senha(class="form-control") }}
                        {% endif %}
                    </div>
                    <div
                        class="form-check">
                        {{ form_login.lembrar_dados.label }}
                        {{ form_login.lembrar_dados(class="form-check-input") }}
                    </div>
                </fieldset>
                {{ form_login.botao_submit_login(class="btn btn-blue mt-4") }}
            </form>
        </div>
        <div class="col">
            <form method="POST" action="" class="border p-4 mt-5 m-5">
                {{ form_criar_conta.csrf_token }}
                <fieldset>
                    <Legend>Criar Conta</Legend>
                    <div class="form-group">
                        {{ form_criar_conta.username.label(class="form-control-label") }}
                        {% if form_criar_conta.username.errors %}
                            {{ form_criar_conta.username(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                        {% for erro in form_criar_conta.username.errors %}
                                {{ erro }}
                            {% endfor %}
                        </div>
                        {% else %}
                            {{ form_criar_conta.username(class="form-control") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form_criar_conta.email.label(class="form-control-label") }}
                        {% if form_criar_conta.email.errors %}
                            {{ form_criar_conta.email(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                        {% for erro in form_criar_conta.email.errors %}
                                {{ erro }}
                            {% endfor %}
                        </div>
                        {% else %}
                            {{ form_criar_conta.email(class="form-control") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form_criar_conta.senha.label(class="form-control-label") }}
                        {% if form_criar_conta.senha.errors %}
                            {{ form_criar_conta.senha(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                        {% for erro in form_criar_conta.senha.errors %}
                                {{ erro }}
                            {% endfor %}
                        </div>
                        {% else %}
                            {{ form_criar_conta.senha(class="form-control") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form_criar_conta.confirmacao_senha.label(class="form-control-label") }}
                        {% if form_criar_conta.confirmacao_senha.errors %}
                            {{ form_criar_conta.confirmacao_senha(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                        {% for erro in form_criar_conta.confirmacao_senha.errors %}
                                {{ erro }}
                            {% endfor %}
                        </div>
                        {% else %}
                            {{ form_criar_conta.confirmacao_senha(class="form-control") }}
                        {% endif %}
                    </div>
                </fieldset>
                {{ form_criar_conta.botao_submit_criar_conta(class="btn btn-primary mt-4") }}
            </form>
        </div>
    </div>
</div>

{% endblock %}

