{% extends "base.html" %}

{% block head %}
<link href="{{ url_for('static', filename='styles/meusleiloes.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
<main class="main">
    <h1 id="test">Meus Leilões</h1>
<div class="topbar">
    <div class="dropdown">
        <div class="select">
            <span class="selected">{% block selected %}Meus leilões{% endblock %}</span>
            <div class="caret"></div>
        </div>
        <ul class="menu">
            <a href="/meusleiloes/leiloes-que-participo"><li>Leilões que participo</li></a>
            <a href="/meusleiloes/leiloes-ativos"><li>Meus leilões ativos</li></a>
            <a href="/meusleiloes/leiloes-finalizados"><li>Meus leilões finalizados</li></a>
        </ul>
    </div>
    {% block indices %}
    <div class="indices">
        <a href="/meusleiloes/leiloes-que-participo" class="ind">Leilões que participo</a>
        <a href="/meusleiloes/leiloes-ativos" class="ind">Meus leilões ativos</a>
        <a href="/meusleiloes/leiloes-finalizados" class="ind">Meus leilões finalizados</a>
    </div>
    {% endblock %}
    <a href="{{ url_for('cadastro_leilao.cadastrar_leilao') }}" class="botao">
        <p>Novo leilão</p>
    </a>
</div>
{% block grid %}{% endblock %}
</main>

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='scripts/meusleiloes.js') }}"></script>
{% endblock %}
