{% extends "base.html" %}

{% block head %}
<link href="{{ url_for('static', filename='styles/meusleiloes.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
<main class="main">
    <h1>Meus Leilões</h1>
<div class="topbar">
    <div class="indices">
        <a href="url" class="ind-atual">Leilões que participo</a>
        <a href="url" class="ind">Meus leilões ativos</a>
        <a href="url" class="ind">Meus leilões finalizados</a>
    </div>
    <a href="/" class="botao">
        <p>Novo leilão</p>
    </a>
</div>
<div class='leiloes-container'>
    <div class="leiloes-item">
        <a href="/">
            <img src="https://ddragon.leagueoflegends.com/cdn/img/champion/splash/Velkoz_0.jpg" class="leilao-img">
            <p class='leilao-titulo'>Titulo 1</p> 
        </a>
    </div>
    <div class="leiloes-item">
        <img src="https://ddragon.leagueoflegends.com/cdn/img/champion/splash/Velkoz_0.jpg" class="leilao-img">
        <p class='leilao-titulo'>Titulo 2</p>
    </div>
    <div class="leiloes-item">
        <img src="https://ddragon.leagueoflegends.com/cdn/img/champion/splash/Velkoz_0.jpg" class="leilao-img">
        <p class='leilao-titulo'>Titulo 3</p>
    </div>
    <div class="leiloes-item">
        <img src="https://ddragon.leagueoflegends.com/cdn/img/champion/splash/Velkoz_0.jpg" class="leilao-img">
        <p class='leilao-titulo'>Titulo 4</p>
    </div>
    <div class="leiloes-item">
        <img src="https://ddragon.leagueoflegends.com/cdn/img/champion/splash/Velkoz_0.jpg" class="leilao-img">
        <p class='leilao-titulo'>Titulo 5</p>
    </div>
    <div class="leiloes-item">
        <img src="https://ddragon.leagueoflegends.com/cdn/img/champion/splash/Velkoz_0.jpg" class="leilao-img">
        <p class='leilao-titulo'>Titulo 6</p>
    </div>
    <div class="leiloes-item">
        <img src="https://ddragon.leagueoflegends.com/cdn/img/champion/splash/Velkoz_0.jpg" class="leilao-img">
        <p class='leilao-titulo'>Titulo 7</p>
    </div>
</div>
</main>

{% endblock %}
